{var $nextLine = false}

{foreach $menuItems as $menuItem}

  {if $menuItem->position() > 5000 && !$nextLine}
    {var $nextLine = true}
    <br>
  {/if}
  {var $append = []}
  {var $params = $menuItem->getParams()}
  {if $params}
    {foreach $params as $key => $value}
      {var $append[] = "{$key}=\"{$value}\""}
    {/foreach}
  {/if}
  <a class="menu-item" href="{plink $menuItem->link()}" {implode(' ', $append)|noescape}>{block |strip}
    {if isLinkCurrent($menuItem->link())}
        <strong><i n:if="$menuItem->icon()" class="{$menuItem->icon()}"></i>{$menuItem->name()}</strong>
    {else}
        <i n:if="$menuItem->icon()" class="{$menuItem->icon()}"></i>{$menuItem->name()}
    {/if}
  {/block}</a>

  {sep}<div class="menu-separator"></div>{/sep}

{/foreach}

