services:
	emitter: Crm\ApplicationModule\Models\Event\LazyEventEmitter

	environmentConfig: Crm\ApplicationModule\Application\EnvironmentConfig
	replicaConfig: Crm\ApplicationModule\Models\Database\ReplicaConfig
	databaseTransaction: Crm\ApplicationModule\Database\DatabaseTransaction

	moduleManager:
		factory: Crm\ApplicationModule\Application\Managers\ModuleManager
		setup:
			- addModule(Crm\ApplicationModule\ApplicationModule(), 1)

	applicationManager:
		factory: Crm\ApplicationModule\Application\Managers\ApplicationManager
		setup:
			- initialize

	frontendMenu:
		factory: Crm\ApplicationModule\Components\FrontendMenu\FrontendMenu

	# Latte filters
	nette.latteFactory:
		setup:
			- addFilterLoader([@filterLoader, 'load'])
			- addFunction('escapehtml', [Crm\ApplicationModule\LatteFunctions\EscapeHTML, 'escape'])

	maskEmailHelper: Crm\ApplicationModule\Helpers\MaskEmailHelper
	filterLoader:
		factory: Crm\ApplicationModule\Helpers\FilterLoader
		setup:
			- register('activeLabel', [Crm\ApplicationModule\Helpers\ActiveLabelHelper(), process])
			- register('diff', [Crm\ApplicationModule\Helpers\DiffHelper(), process])
			- register('helpIcon', [Crm\ApplicationModule\Helpers\HelpIconHelper(), process])
			- register('userDate', [@userDateHelper, process])
			- register('localizedDate', [@localizedDateHelper, process])
			- register('yesNo', [Crm\ApplicationModule\Helpers\YesNoHelper(), process])
			- register('price', [Crm\ApplicationModule\Helpers\PriceHelper(), process])
			- register('diffPrice', [Crm\ApplicationModule\Helpers\DiffPriceHelper(), process])
			- register('json', [Crm\ApplicationModule\Helpers\JsonHelper(), process])
			- register('maskEmail', [@maskEmailHelper, process])

	redisClientFactory: Crm\ApplicationModule\Models\Redis\RedisClientFactory(%redis.host%, %redis.port%, %redis.password%, %redis.database%, %redis_client_factory.prefix%)

	configCategoriesRepository: Crm\ApplicationModule\Repositories\ConfigCategoriesRepository
	configsRepository: Crm\ApplicationModule\Repositories\ConfigsRepository
	cacheRepository: Crm\ApplicationModule\Repositories\CacheRepository
	snippetsRepository: Crm\ApplicationModule\Repositories\SnippetsRepository
	hermesTasksRepository: Crm\ApplicationModule\Repositories\HermesTasksRepository
	auditLogRepository:
		factory: Crm\ApplicationModule\Repositories\AuditLogRepository
		setup:
			- setNewTableName('audit_logs_v2')
			- setNewTableDataMigrationIsRunningFlag(Crm\ApplicationModule\Commands\MigrateAuditLogsCommand::AUDIT_LOGS_MIGRATION_RUNNING)
			- setRedisClientFactory(@redisClientFactory)

	- Crm\ApplicationModule\Router\RouterFactory
	router: @Crm\ApplicationModule\Router\RouterFactory::createRouter

	redirectValidator:
		factory: Crm\ApplicationModule\Router\RedirectValidator

	- Crm\ApplicationModule\Models\Authenticator\AuthenticatorManager
	lazyWidgetManager: Crm\ApplicationModule\Models\Widget\LazyWidgetManager
	- Crm\ApplicationModule\Models\DataProvider\DataProviderManager
	- Crm\ApplicationModule\Builder\ConfigBuilder

	- Crm\ApplicationModule\Commands\DatabaseSeedCommand
	- Crm\ApplicationModule\Commands\CacheCommand
	- Crm\ApplicationModule\Commands\HeartbeatCommand
	- Crm\ApplicationModule\Commands\InstallAssetsCommand
	- Crm\ApplicationModule\Commands\GenerateKeyCommand
	- Crm\ApplicationModule\Commands\CalculateMeasurementsCommand
	- Crm\ApplicationModule\Commands\AuditLogsCleanupCommand
	- Crm\ApplicationModule\Commands\MigrateAuditLogsCommand
	- Crm\ApplicationModule\Commands\BigintMigrationCleanupCommand
	- Crm\ApplicationModule\Commands\ChangeConfigValueCommand

	applicationConfig:
		factory: Crm\ApplicationModule\Models\Config\ApplicationConfig

	- Crm\ApplicationModule\Models\Snippet\Control\SnippetFactory
	- Crm\ApplicationModule\Models\Snippet\SnippetRenderer
	- Crm\ApplicationModule\Components\FrontendMenu\FrontendMenuFactoryInterface
	- Crm\ApplicationModule\Components\Widgets\SimpleWidget\SimpleWidgetFactoryInterface
	- Crm\ApplicationModule\Components\Widgets\SingleStatWidget\SingleStatWidgetFactoryInterface
	- Crm\ApplicationModule\Models\Criteria\CriteriaStorage
	- Crm\ApplicationModule\Models\Criteria\ScenariosCriteriaStorage
	- Crm\ApplicationModule\Models\Event\EventsStorage
	- Crm\ApplicationModule\Models\Exports\ExcelFactory
	- Crm\ApplicationModule\Application\Managers\CleanUpManager
	- Crm\ApplicationModule\Application\Managers\LayoutManager
	- Crm\ApplicationModule\Application\Managers\SeederManager
	- Crm\ApplicationModule\Commands\HermesShutdownCommand
	- Crm\ApplicationModule\Commands\HermesWorkerCommand
	- Crm\ApplicationModule\Commands\CleanupCommand
	configsCache: Crm\ApplicationModule\Models\Config\ConfigsCache
	- Crm\ApplicationModule\Helpers\PriceHelper
	- Crm\ApplicationModule\Helpers\DiffPriceHelper
	userDateHelper: Crm\ApplicationModule\Helpers\UserDateHelper
	localizedDateHelper: Crm\ApplicationModule\Helpers\LocalizedDateHelper
	assetsManager: Crm\ApplicationModule\Application\Managers\AssetsManager('%wwwDir%')

	mountManagerConfig: Crm\ApplicationModule\Application\Managers\MountManagerConfig
	applicationMountManager: Crm\ApplicationModule\Application\Managers\ApplicationMountManager

	- Crm\ApplicationModule\Models\Database\ActiveRowFactory

	- Crm\ApplicationModule\Models\Graphs\GraphData
	- Crm\ApplicationModule\Models\Graphs\ScaleFactory
	- Crm\ApplicationModule\Models\Graphs\Scale\Mysql\RangeScaleFactory
	- Crm\ApplicationModule\Models\Graphs\Scale\Measurements\RangeScaleFactory
	- Crm\ApplicationModule\Models\Graphs\Scale\Measurements\DayScale
	- Crm\ApplicationModule\Models\Graphs\Scale\Measurements\WeekScale
	- Crm\ApplicationModule\Models\Graphs\Scale\Measurements\MonthScale
	- Crm\ApplicationModule\Models\Graphs\Scale\Measurements\YearScale

	redisEventManager: Crm\ApplicationModule\Models\Event\RedisEventManager
	- Crm\ApplicationModule\Models\User\UserDataRegistrator
	- Crm\ApplicationModule\Api\EventsListApiHandler
	- Crm\ApplicationModule\Api\EventGeneratorsListApiHandler
	- Crm\ApplicationModule\Models\User\DownloadUserData
	- Crm\ApplicationModule\Models\User\DeleteUserData
	redisUserDataStorage: Crm\ApplicationModule\Models\User\RedisUserDataStorage

	- Crm\ApplicationModule\Seeders\CalendarSeeder
	- Crm\ApplicationModule\Seeders\ConfigsSeeder
	- Crm\ApplicationModule\Seeders\CountriesSeeder
	- Crm\ApplicationModule\Seeders\SnippetsSeeder
	accessManager: Crm\ApplicationModule\Models\Access\AccessManager

	hermesConfig:
		factory: Crm\ApplicationModule\Models\Config\HermesConfig
		setup:
			- addRedactedFields(['password', 'token', 'responseBody'])

	hermesLogRedact: Crm\ApplicationModule\Hermes\LogRedact
	hermesLogger:
		factory: Monolog\Logger('hermes-logger')
		setup:
			- pushProcessor(@hermesLogRedact::add(@hermesConfig::getRedactedFields()))
			- pushHandler(Monolog\Handler\StreamHandler("%appDir%/../log/hermes-log.txt"))

	# shutdowm hermes and mail worker through hermes_shutdown key in redis
	# - override in local config with second string argument if you want to change key
	# - override restart `hermesShutdown: Tomaj\Hermes\Shutdown\SharedFileShutdown('/tmp/hermes_restart')` if you want to keep file based restarts
	hermesShutdown: Tomaj\Hermes\Shutdown\PredisShutdown(@redisClientFactory::getClient())

	hermesDriver:
		factory: Crm\ApplicationModule\Hermes\RedisDriver
		setup:
			- setupPriorityQueue('hermes_tasks_high', 200)
			- setupPriorityQueue('hermes_tasks', 100)
			- setupPriorityQueue('hermes_tasks_low', 50)
	hermesDispatcher:
		factory: Tomaj\Hermes\Dispatcher(@hermesDriver, @hermesLogger, @hermesShutdown)
	hermesEmitter:
		factory: Crm\ApplicationModule\Hermes\TransactionEmitter(@databaseTransaction, @hermesDriver, @hermesLogger)
	redisTasksQueue: Crm\ApplicationModule\Hermes\RedisTasksQueue

	- Crm\ApplicationModule\Hermes\HeartbeatMysql
	applicationRequest: Crm\ApplicationModule\Models\Request

	- Crm\ApplicationModule\Repositories\MeasurementValuesRepository
	- Crm\ApplicationModule\Repositories\MeasurementsRepository
	- Crm\ApplicationModule\Repositories\MeasurementGroupsRepository
	- Crm\ApplicationModule\Repositories\MeasurementGroupValuesRepository
	measurementManager:
		factory: Crm\ApplicationModule\Models\Measurements\MeasurementManager

	# widgets
	- Crm\ApplicationModule\Components\AuditLogHistoryWidget\AuditLogHistoryWidget

	# components factories
	- Crm\ApplicationModule\Components\Graphs\GoogleBarGraph\GoogleBarGraphControlFactoryInterface
	- Crm\ApplicationModule\Components\Graphs\GoogleBarGraphGroup\GoogleBarGraphGroupControlFactoryInterface
	- Crm\ApplicationModule\Components\Graphs\GoogleLineGraph\GoogleLineGraphControlFactoryInterface
	- Crm\ApplicationModule\Components\Graphs\GoogleLineGraphGroup\GoogleLineGraphGroupControlFactoryInterface
	- Crm\ApplicationModule\Components\Graphs\SmallBarGraph\SmallBarGraphControlFactoryInterface
	- Crm\ApplicationModule\Components\Graphs\InlineBarGraph\InlineBarGraphControlFactoryInterface
	- Crm\ApplicationModule\Components\Graphs\GoogleSankeyGraphGroup\GoogleSankeyGraphGroupControlFactoryInterface

	- Crm\ApplicationModule\Forms\Controls\CountriesSelectItemsBuilder
