<span style="font-size:0.3em">{$graphTitle}</span>
<span id="{$graphId}"></span>
<script>
  $("#" + {$graphId}).sparkline({json_encode(array_values($data))|noescape}, {
    type: 'bar',
    barColor: '#b2b2b2'
  });
</script>